@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@keyframes orbit-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit-counter-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.orbit-rotate {
  animation: orbit-rotate 20s linear infinite;
}

.orbit-counter-rotate {
  animation: orbit-counter-rotate 20s linear infinite;
}
